body {
    margin: 40px 100px;

    font-family: Poppins;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upper-container {
    display: flex;
    justify-content: space-between;
}

.profile-container {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    font-weight: 500;
}

.control-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.geolocation-button {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    background: #FFAE5D;

    border-radius: 20px;
    border: none;
    padding: 16px;

    font-weight: 500;
    font-size: 16px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;

    border: #808080 solid 1px;
    border-radius: 20px;
    padding: 16px;

}

.input-container input {
    border: none;
    outline: none;


    font-weight: 500;
    font-size: 16px;
}

hr {
    margin: 0;
}